<div class="piano">
  <div data-note="C3" data-number="1" class="key white"></div>
  <div data-note="Db3" data-number="2" class="key black"></div>
  <div data-note="D3" data-number="3" class="key white"></div>
  <div data-note="Eb3" data-number="4" class="key black"></div>
  <div data-note="E3" data-number="5" class="key white"></div>
  <div data-note="F3" data-number="6" class="key white"></div>
  <div data-note="Gb3" data-number="7" class="key black"></div>
  <div data-note="G3" data-number="8" class="key white"></div>
  <div data-note="Ab3" data-number="9" class="key black"></div>
  <div data-note="A3" data-number="10" class="key white"></div>
  <div data-note="Bb3" data-number="11" class="key black"></div>
  <div data-note="B3" data-number="12" class="key white"></div>
  <div data-note="C4" data-number="13" class="key white"></div>
  <div data-note="Db4" data-number="14" class="key black"></div>
  <div data-note="D4" data-number="15" class="key white"></div>
  <div data-note="Eb4" data-number="16" class="key black"></div>
  <div data-note="E4" data-number="17" class="key white"></div>
  <div data-note="F4" data-number="18" class="key white"></div>
  <div data-note="Gb4" data-number="19" class="key black"></div>
  <div data-note="G4" data-number="20" class="key white"></div>
  <div data-note="Ab4" data-number="21" class="key black"></div>
  <div data-note="A4" data-number="22" class="key white"></div>
  <div data-note="Bb4" data-number="23" class="key black"></div>
  <div data-note="B4" data-number="24" class="key white"></div>
  <div data-note="C5" data-number="25" class="key white"></div>
</div>
  <%#= asset_path("C.mp3") %>
  <audio id="C3" src="<%= audio_url 'audios/1-C3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="Db3" src="<%= audio_url 'audios/2-Db3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="D3" src="<%= audio_url 'audios/3-D3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="Eb3" src="<%= audio_url 'audios/4-Eb3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="E3" src="<%= audio_url 'audios/5-E3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="F3" src="<%= audio_url 'audios/6-F3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="Gb3" src="<%= audio_url 'audios/7-Gb3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="G3" src="<%= audio_url 'audios/8-G3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="Ab3" src="<%= audio_url 'audios/9-Ab3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="A3" src="<%= audio_url 'audios/10-A3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="Bb3" src="<%= audio_url 'audios/11-Bb3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="B3" src="<%= audio_url 'audios/12-B3.m4a'%>" type="audio/mpeg"></audio>

  <audio id="C4" src="<%= audio_url 'audios/13-C4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="Db4" src="<%= audio_url 'audios/14-Db4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="D4" src="<%= audio_url 'audios/15-D4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="Eb4" src="<%= audio_url 'audios/16-Eb4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="E4" src="<%= audio_url 'audios/17-E4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="F4" src="<%= audio_url 'audios/18-F4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Gb4" src="<%= audio_url 'audios/19-Gb4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="G4" src="<%= audio_url 'audios/20-G4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Ab4" src="<%= audio_url 'audios/21-Ab4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="A4" src="<%= audio_url 'audios/22-A4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Bb4" src="<%= audio_url 'audios/23-Bb4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="B4" src="<%= audio_url 'audios/24-B4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="C5" src="<%= audio_url 'audios/25-C5.m4a'%>" type="audio/mpeg"></audio>
