<div class="vertical-bar">
  <div class="choice-btn" id="home">
    <%= link_to "home", root_path %>
  </div>
  <div class="scroll-part">

    <div class="choice-btn" id="add_1">
      <%= link_to "minor 2nd", tritone_path %>
    </div>
    <div class="choice-btn" id="add_2">
      <%= link_to "major 2nd", tritone_path %>
    </div>
    <div class="choice-btn" id="add_3">
      <%= link_to "minor 3rd", tritone_path %>
    </div>
    <div class="choice-btn" id="add_4">
      <%= link_to "major 3rd", tritone_path %>
    </div>
    <div class="choice-btn" id="add_5">
      <%= link_to "perfect 4th", tritone_path %>
    </div>
    <div class="choice-btn" id="add_6">
      <%= link_to "augmented 4th", tritone_path %>
    </div>
    <div class="choice-btn" id="add_7">
      <%= link_to "perfect 5th", tritone_path %>
    </div>
    <div class="choice-btn" id="add_8">
      <%= link_to "minor 6th", tritone_path %>
    </div>
    <div class="choice-btn" id="add_9">
      <%= link_to "major 6th", tritone_path %>
    </div>
    <div class="choice-btn" id="add_10">
      <%= link_to "minor 7th", tritone_path %>
    </div>
    <div class="choice-btn" id="add_11">
      <%= link_to "major 7th", tritone_path %>
    </div>
    <div class="choice-btn" id="add_12">
      <%= link_to "perfect 8ve", tritone_path %>
    </div>

    <div class="choice-btn" id="major_triad">
      <%= link_to "major triad", major_triad_path %>
    </div>
      <div class="choice-btn" id="major_triad">
      <%= link_to "minor triad", minor_triad_path %>
    </div>
      <div class="choice-btn" id="major_triad">
      <%= link_to "diminished triad", diminished_triad_path %>
    </div>
      <div class="choice-btn" id="major_triad">
      <%= link_to "augmented triad", augmented_triad_path %>
    </div>
    <div class="choice-btn" id="tritone">
      <%= link_to "tritone", tritone_path %>
    </div>

  </div>
</div>
