<div class="vertical-bar">
  <div class="home-btn" id="home">
    <%= link_to "home", root_path %>
  </div>
  <div class="scroll-part">

    <div class="choice-btn" id="minor_2nd">
      <%= link_to "minor 2nd", tritone_path %>
    </div>
    <div class="choice-btn" id="major_2nd">
      <%= link_to "major 2nd", tritone_path %>
    </div>
    <div class="choice-btn" id="minor_3rd">
      <%= link_to "minor 3rd", tritone_path %>
    </div>
    <div class="choice-btn" id="major_3rd">
      <%= link_to "major 3rd", tritone_path %>
    </div>
    <div class="choice-btn" id="perfect_4th">
      <%= link_to "perfect 4th", tritone_path %>
    </div>
    <div class="choice-btn" id="augmented_4th">
      <%= link_to "augmented 4th", tritone_path %>
    </div>
    <div class="choice-btn" id="perfect_5th">
      <%= link_to "perfect 5th", tritone_path %>
    </div>
    <div class="choice-btn" id="minor_6th">
      <%= link_to "minor 6th", tritone_path %>
    </div>
    <div class="choice-btn" id="major_6th">
      <%= link_to "major 6th", tritone_path %>
    </div>
    <div class="choice-btn" id="minor_7th" >
      <%= link_to "minor 7th", tritone_path %>
    </div>
    <div class="choice-btn" id="major_7th">
      <%= link_to "major 7th", tritone_path %>
    </div>
    <div class="choice-btn" id="perfect_8ve">
      <%= link_to "perfect 8ve", tritone_path %>
    </div>

    <div class="choice-btn" id="major_triad">
      <%= link_to "major triad", major_triad_path %>
    </div>
    <div class="choice-btn" id="tritone">
      <%= link_to "tritone", tritone_path %>
    </div>

  </div>
</div>
