<div class="vertical-bar">
  <div class="choice-btn" id="home">
    <%= link_to "home", root_path %>
  </div>
  <div class="scroll-part">
    <div class="choice-btn" id="major_triad">
      <%= link_to "major triad", major_triad_path %>
    </div>
    <div class="choice-btn" id="tritone">
      <%= link_to "tritone", tritone_path %>
    </div>
    <div class="choice-btn" id="A">
      <%= link_to "AAAA", tritone_path %>
    </div>
    <div class="choice-btn" id="B">
      <%= link_to "BBBB", tritone_path %>
    </div>
    <div class="choice-btn" id="C">
      <%= link_to "CCCC", tritone_path %>
    </div>
    <div class="choice-btn" id="D">
      <%= link_to "DDDD", tritone_path %>
    </div>
    <div class="choice-btn" id="E">
      <%= link_to "EEEE", tritone_path %>
    </div>
    <div class="choice-btn" id="F">
      <%= link_to "FFFF", tritone_path %>
    </div>
    <div class="choice-btn" id="G">
      <%= link_to "GGGG", tritone_path %>
    </div>
    <div class="choice-btn" id="H">
      <%= link_to "HHHH", tritone_path %>
    </div>
    <div class="choice-btn" id="I">
      <%= link_to "IIII", tritone_path %>
    </div>
    <div class="choice-btn" id="J">
      <%= link_to "JJJJ", tritone_path %>
    </div>
    <div class="choice-btn" id="K">
      <%= link_to "KKKK", tritone_path %>
    </div>
    <div class="choice-btn" id="L">
      <%= link_to "LLLL", tritone_path %>
    </div>
    <div class="choice-btn" id="M">
      <%= link_to "MMMM", tritone_path %>
    </div>
    <div class="choice-btn" id="N">
      <%= link_to "NNNN", tritone_path %>
    </div>
  </div>
</div>
