<div class="vertical-bar">
  <div class="home-btn" id="home">
    <%= link_to "home", root_path %>
  </div>
  <div class="scroll-part">

    <div class="choice-btn" id="minor_2nd">
      <%= link_to "minor 2nd", minor_2nd_path %>
    </div>
    <div class="choice-btn" id="major_2nd">
      <%= link_to "major 2nd", major_2nd_path %>
    </div>
    <div class="choice-btn" id="minor_3rd">
      <%= link_to "minor 3rd", minor_3rd_path %>
    </div>
    <div class="choice-btn" id="major_3rd">
      <%= link_to "major 3rd", major_3rd_path %>
    </div>
    <div class="choice-btn" id="perfect_4th">
      <%= link_to "perfect 4th", perfect_4th_path %>
    </div>
    <div class="choice-btn" id="augmented_4th">
      <%= link_to "augmented 4th", augmented_4th_path %>
    </div>
    <div class="choice-btn" id="perfect_5th">
      <%= link_to "perfect 5th", perfect_5th_path %>
    </div>
    <div class="choice-btn" id="minor_6th">
      <%= link_to "minor 6th", minor_6th_path %>
    </div>
    <div class="choice-btn" id="major_6th">
      <%= link_to "major 6th", major_6th_path %>
    </div>
    <div class="choice-btn" id="minor_7th" >
      <%= link_to "minor 7th", minor_7th_path %>
    </div>
    <div class="choice-btn" id="major_7th">
      <%= link_to "major 7th", major_7th_path %>
    </div>
    <div class="choice-btn" id="perfect_8ve">
      <%= link_to "perfect 8ve", perfect_8ve_path %>
    </div>

    <%#= chords %>
    <div class="choice-btn" id="major_triad">
      <%= link_to "major triad", major_triad_path %>
    </div>
      <div class="choice-btn" id="minor_triad">
      <%= link_to "minor triad", minor_triad_path %>
    </div>
      <div class="choice-btn" id="diminished_triad">
      <%= link_to "diminished triad", diminished_triad_path %>
    </div>
      <div class="choice-btn" id="augmented_triad">
      <%= link_to "augmented triad", augmented_triad_path %>
    </div>
    <div class="choice-btn" id="tritone">
      <%= link_to "tritone", tritone_path %>
    </div>

  </div>
</div>
