<div class="piano">
    <div data-note="C3" class="key white"></div>
    <div data-note="Db" class="key black"></div>
    <div data-note="D" class="key white"></div>
    <div data-note="Eb" class="key black"></div>
    <div data-note="E" class="key white"></div>
    <div data-note="F" class="key white"></div>
    <div data-note="Gb" class="key black"></div>
    <div data-note="G" class="key white"></div>
    <div data-note="Ab3" class="key black"></div>
    <div data-note="A3" class="key white"></div>
    <div data-note="Bb3" class="key black"></div>
    <div data-note="B3" class="key white"></div>
</div>
  <%#= asset_path("C.mp3") %>
  <audio id="C3" src="<%= audio_url 'audios/C3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Db" src="<%= audio_url 'audios/Db.mp3'%>" type="audio/mpeg"></audio>
  <audio id="D" src="<%= audio_url 'audios/D.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Eb" src="<%= audio_url 'audios/Eb.mp3'%>" type="audio/mpeg"></audio>
  <audio id="E" src="<%= audio_url 'audios/E.mp3'%>" type="audio/mpeg"></audio>
  <audio id="F" src="<%= audio_url 'audios/F.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Gb" src="<%= audio_url 'audios/Gb.mp3'%>" type="audio/mpeg"></audio>
  <audio id="G" src="<%= audio_url 'audios/G.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Ab3" src="<%= audio_url 'audios/Ab3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="A3" src="<%= audio_url 'audios/A3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Bb3" src="<%= audio_url 'audios/Bb3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="B3" src="<%= audio_url 'audios/B3.mp3'%>" type="audio/mpeg"></audio>

  <!-- <audio id="Db" src="../../assets/audios/Db.mp3"></audio>
  <audio id="D" src="../../assets/audios/D.mp3"></audio>
  <audio id="Eb" src="../../assets/audios/Eb.mp3"></audio>
  <audio id="E" src="../../assets/audios/E.mp3"></audio>
  <audio id="F" src="../../assets/audios/F.mp3"></audio>
  <audio id="Gb" src="../../assets/audios/Gb.mp3"></audio>
  <audio id="G" src="../../assets/audios/G.mp3"></audio>
  <audio id="Ab" src="../../assets/audios/Ab.mp3"></audio>
  <audio id="A" src="../../assets/audios/A.mp3"></audio>
  <audio id="Bb" src="../../assets/audios/Bb.mp3"></audio>
  <audio id="B" src="../../assets/audios/B.mp3"></audio> -->

