
<%= render 'shared/navbar' %>

<div class="box">
  <div class="vertical-bar">
    <!-- <div>
      <p class="head">Don't know what to play?</p>
       <p class="head">Try our auto Suggest:</p>
    </div> -->

    <div class="choice-btn" id="btn-1">
      <%= link_to "major 2nd", tritone_path %>
    </div>
    <div class="choice-btn" id="btn-2">
      <%= link_to "minor 3rd", tritone_path %>
    </div>
    <div class="choice-btn" id="btn-3">
      <%= link_to "major 3rd", tritone_path %>
    </div>
    <div class="choice-btn" id="btn-4">
      <%= link_to "perfect 4th", tritone_path %>
    </div>
    <div class="choice-btn" id="btn-5">
      <%= link_to "perfect 5th", tritone_path %>
    </div>
     <div class="choice-btn" id="btn-6">
      <%= link_to "minor 6th", tritone_path %>
    </div>
    <div class="choice-btn" id="btn-7">
      <%= link_to "major 6th", tritone_path %>
    </div>
    <div class="choice-btn" id="btn-8">
      <%= link_to "minor 7th", tritone_path %>
    </div>
    <div class="choice-btn" id="btn-9">
      <%= link_to "major 7th", tritone_path %>
    </div>
    <div class="choice-btn" id="btn-10">
      <%= link_to "perfect 8ve", tritone_path %>
    </div>
    <div class="choice-btn" id="btn-10">
      <%= link_to "concords", tritone_path %>
    </div>
     <div class="choice-btn" id="btn-10">
      <%= link_to "dischords", tritone_path %>
    </div>

    <div class="choice-btn" id="major_triad">
      <%= link_to "major triad", major_triad_path %>
    </div>

    <div class="choice-btn" id="tritone">
      <%= link_to "tritone", tritone_path %>
    </div>

  </div>




  <%= render 'shared/piano' %>
</div>
