<div class="piano">
    <div data-note="C3" class="key white"></div>
    <div data-note="Db3" class="key black"></div>
    <div data-note="D3" class="key white"></div>
    <div data-note="Eb3" class="key black"></div>
    <div data-note="E3" class="key white"></div>
    <div data-note="F3" class="key white"></div>
    <div data-note="Gb3" class="key black"></div>
    <div data-note="G3" class="key white"></div>
    <div data-note="Ab3" class="key black"></div>
    <div data-note="A3" class="key white"></div>
    <div data-note="Bb3" class="key black"></div>
    <div data-note="B3" class="key white"></div>
    <div data-note="C4" class="key white"></div>
    <div data-note="Db4" class="key black"></div>
    <div data-note="D4" class="key white"></div>
    <div data-note="Eb4" class="key black"></div>
    <div data-note="E4" class="key white"></div>
    <div data-note="F4" class="key white"></div>
    <div data-note="Gb4" class="key black"></div>
    <div data-note="G4" class="key white"></div>
    <div data-note="Ab4" class="key black"></div>
    <div data-note="A4" class="key white"></div>
    <div data-note="Bb4" class="key black"></div>
    <div data-note="B4" class="key white"></div>
    <div data-note="C5" class="key white"></div>
</div>
  <%#= asset_path("C.mp3") %>
  <audio id="C" src="<%= audio_url 'audios/C3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Db" src="<%= audio_url 'audios/Db3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="D" src="<%= audio_url 'audios/D3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Eb" src="<%= audio_url 'audios/Eb3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="E" src="<%= audio_url 'audios/E3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="F" src="<%= audio_url 'audios/F3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Gb" src="<%= audio_url 'audios/Gb3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="G" src="<%= audio_url 'audios/G3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Ab" src="<%= audio_url 'audios/Ab3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="A" src="<%= audio_url 'audios/A3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Bb" src="<%= audio_url 'audios/Bb3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="B" src="<%= audio_url 'audios/B3.mp3'%>" type="audio/mpeg"></audio>

  <audio id="C" src="<%= audio_url 'audios/C4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Db" src="<%= audio_url 'audios/Db4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="D" src="<%= audio_url 'audios/D4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Eb" src="<%= audio_url 'audios/Eb4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="E" src="<%= audio_url 'audios/E4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="F" src="<%= audio_url 'audios/F4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Gb" src="<%= audio_url 'audios/Gb4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="G" src="<%= audio_url 'audios/G4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Ab" src="<%= audio_url 'audios/Ab4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="A" src="<%= audio_url 'audios/A4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Bb" src="<%= audio_url 'audios/Bb4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="B" src="<%= audio_url 'audios/B4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="B" src="<%= audio_url 'audios/C5.mp3'%>" type="audio/mpeg"></audio>


