<div class="banner">
  <div class="logo">
    <img src="/../../assets/images/logo.png">
  </div>

  <div class="nav-bar">
      <ul class="nav-links">
        <li>Piano</li>
        <li>All harmonies</li>
        <li>About us</li>
      </ul>

      <ul class="login-links">
        <div class="pink-oval">
          <li class="login">Create user</li>
        </div>
        <div class="pink-oval">
          <li class="login">login</li>
        </div>
      </ul>
  </div>

</div>

<h1>homeee</h1>
  <%= link_to "major triad", major_triad_path %><br>
  <%= link_to "tritone", tritone_path %>

<!-- <div class="piano">
    <div data-note="C3" class="key white"></div>
    <div data-note="Db3" class="key black"></div>
    <div data-note="D3" class="key white"></div>
    <div data-note="Eb3" class="key black"></div>
    <div data-note="E3" class="key white"></div>
    <div data-note="F3" class="key white"></div>
    <div data-note="Gb3" class="key black"></div>
    <div data-note="G3" class="key white"></div>
    <div data-note="Ab3" class="key black"></div>
    <div data-note="A3" class="key white"></div>
    <div data-note="Bb3" class="key black"></div>
    <div data-note="B3" class="key white"></div>
    <div data-note="C4" class="key white"></div>
    <div data-note="Db4" class="key black"></div>
    <div data-note="D4" class="key white"></div>
    <div data-note="Eb4" class="key black"></div>
    <div data-note="E4" class="key white"></div>
    <div data-note="F4" class="key white"></div>
    <div data-note="Gb4" class="key black"></div>
    <div data-note="G4" class="key white"></div>
    <div data-note="Ab4" class="key black"></div>
    <div data-note="A4" class="key white"></div>
    <div data-note="Bb4" class="key black"></div>
    <div data-note="B4" class="key white"></div>
    <div data-note="C5" class="key white"></div>
</div>
  <%#= asset_path("C.mp3") %>
  <audio id="C3" src="<%= audio_url 'audios/1-C3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="Db3" src="<%= audio_url 'audios/2-Db3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="D3" src="<%= audio_url 'audios/3-D3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="Eb3" src="<%= audio_url 'audios/4-Eb3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="E3" src="<%= audio_url 'audios/5-E3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="F3" src="<%= audio_url 'audios/6-F3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="Gb3" src="<%= audio_url 'audios/7-Gb3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="G3" src="<%= audio_url 'audios/8-G3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="Ab3" src="<%= audio_url 'audios/9-Ab3.mp3'%>" type="audio/mpeg"></audio>
  <audio id="A3" src="<%= audio_url 'audios/10-A3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="Bb3" src="<%= audio_url 'audios/11-Bb3.m4a'%>" type="audio/mpeg"></audio>
  <audio id="B3" src="<%= audio_url 'audios/12-B3.m4a'%>" type="audio/mpeg"></audio>

  <audio id="C4" src="<%= audio_url 'audios/13-C4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="Db4" src="<%= audio_url 'audios/14-Db4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="D4" src="<%= audio_url 'audios/15-D4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="Eb4" src="<%= audio_url 'audios/16-Eb4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="E4" src="<%= audio_url 'audios/17-E4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="F4" src="<%= audio_url 'audios/18-F4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Gb4" src="<%= audio_url 'audios/19-Gb4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="G4" src="<%= audio_url 'audios/20-G4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Ab4" src="<%= audio_url 'audios/21-Ab4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="A4" src="<%= audio_url 'audios/22-A4.mp3'%>" type="audio/mpeg"></audio>
  <audio id="Bb4" src="<%= audio_url 'audios/23-Bb4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="B4" src="<%= audio_url 'audios/24-B4.m4a'%>" type="audio/mpeg"></audio>
  <audio id="C5" src="<%= audio_url 'audios/25-C5.m4a'%>" type="audio/mpeg"></audio> -->


